@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.full-screen-background {
  background-image: url('header.png');
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100vw; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  opacity: 0.9;
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 9999;
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  color:white;
}

.test {
  height: 100vh;
  overflow: hidden;
}

.main-title {
  color:white
}

.contact-card-body {
  width: 100%;
  height: 100%;
}

.contact-body {
  display: flex;
  padding-top: 16px;
  align-items: center;
  text-align: center;
  width: 100%;
}

.cv-site-cover {
  background-image: url('header.png');
  aspect-ratio: 400 / 300;
  object-fit: cover;
}

.tom-archer-cover {
  background-image: url('tomarcher.png');
  aspect-ratio: 400 / 300;
  object-fit: cover;
}

a {
  color: lightslategray;
  text-decoration: underline;
}

.fade-right {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: red;
  transform-origin: 0%;
}